.mat-card {
    padding: 30px;
}

.mat-card.theme-switcher-container {
    margin-bottom: 30px;
    padding: 20px;
}

button {
    background: none;
    border: none;
    vertical-align: middle;
    margin-right: 10px;
}

.mat-option {
    text-transform: capitalize;
}

/* .mat-select-trigger button {
    background: none;
    border: none;
    vertical-align: middle;
    margin-right: 10px;
} */